body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

.modal-header {
  background:#1c2938;
  border-bottom:1px solid black;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.close {
  color:#1da1f2;
  text-shadow:none;
  opacity:1;
}

.circle {
  width: 20px;
	height: 20px;
  margin-top: 5px;
  position: absolute;
}

.circle-small {
	border: 2px solid #9197a3;
	border-radius: 50%;
}

#header {
  width: 100%;
  height: 53px;
  background: rgb(28, 41, 56);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(0, 0, 0);
}

.twitr-container {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 0px;
  padding-top: 5px;
}

.tweet-action-retweet,
.tweet-action-like,
.tweet-edit,
.tweet-delete {
  cursor:pointer;
}

.tweet-action-retweeted,
.tweet-action-liked {
  color:#1da1f2;
}

#update-tweet {
  display: none;
}

.header-icon {
  padding-bottom: 5px;
  text-align: center;
}

.header-icon-active {
  border-bottom: 3px solid #1da1f2;
}

.header-icon > i {
  margin: 0 auto;
  color:#1da1f2;
  font-size:30px;
  line-height:40px;
  cursor: pointer;
}

#content .twitr-container {
  padding: 25px 15px;
}

#content .twitr-feed > div > .row,
#content .twitr-feed .simplebar-content > .row {
  min-height: 50px;
  padding: 15px 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(181,187,202,.1);
}

.tweets-deleted {
  background: #17222F;
}

#content .twitr-feed .twitr-feed-home {
  font-size: 17px;
  color: white;
  font-weight: bold;
  line-height: 30px;
}

#content .twitr-feed .twitr-feed-tweet {
  cursor: pointer;
  background: #17222F;
}

#content .twitr-feed .twitr-feed-tweet-text {
  background: #10171e;
  height: 40px;
  border-radius: 20px;
  border: 1px solid black;
  padding: 5px 20px;
  color: #8899a6;
  box-shadow: none;
  outline: none;
  font-size: 15px;
  line-height: 27px;
}

#emoji-select > .container > .row {
  margin-bottom: 5px;
}

#emoji-select > .container .emoji {
  cursor: pointer;
}

#content .twitr-container > .row > .col-md-8,
#content .twitr-container > .row > .col-md-3 {
  background: rgb(28, 41, 56);
}

#content {
  width: 100%;
  height: calc(100vh - 52px);
  background: #10171e;
}

.tweet-dialog-textarea-div {
  color:#9197a3;
  background:#182430;
  border:0;
  box-shadow:none;
  outline:0;
  border-bottom: 3px solid #1da1f2;
  resize: none;
}

#tweet-dialog-textarea {
  color:#9197a3;
  background:transparent;
  border:0;
  box-shadow:none;
  outline:0;
  resize: none;
}

.tweet-img-wrapper {
  width: 100%;
  overflow:hidden;
  padding: 10px;
  position: relative;
}

#tweet-img-delete {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
  background: rgba(0,0,0,0.7);
  border-radius: 50%;
  cursor: pointer;
  font-size: 25px;
  z-index:100;
  text-align: center;
  line-height: 30px;
  color: white;
  display: none;
}

#search-tweets {
  border-radius: 15px;
  background: #10171e;
  border: 0;
  color: #fff;
  padding: 0 10px 0 50px;
}

#tweet-img-show {
  width: 100%;
  border-radius: 10px;
  display: none;
}

#twitr-feed-timeline .emoji {
  width:20px;
  margin:3px;
}

#tweet-scroll-up {
  position: absolute;
  bottom: 10px;
  font-size: 50px;
  color: #1da1f2;
  right: 10px;
  cursor: pointer;
  display: none;
}
