body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.modal-header {
  background:#1c2938;
  border-bottom:1px solid black;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.close {
  color:#1da1f2;
  text-shadow:none;
  opacity:1;
}

.circle {
  width: 20px;
	height: 20px;
  margin-top: 5px;
  position: absolute;
}

.circle-small {
	border: 2px solid #9197a3;
	border-radius: 50%;
}

#header {
  width: 100%;
  height: 53px;
  background: rgb(28, 41, 56);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(0, 0, 0);
}

.twitr-container {
  width: 50%;
  height: 100%;
  margin: 0 auto;
}

#content .twitr-container {
  padding-top: 25px;
}

#content .twitr-feed > div > .row {
  min-height: 50px;
  padding: 15px 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(181,187,202,.1);
}

#content .twitr-feed .twitr-feed-home {
  font-size: 17px;
  color: white;
  font-weight: bold;
  line-height: 30px;
}

#content .twitr-feed .twitr-feed-tweet {
  cursor: pointer;
}

#content .twitr-feed .twitr-feed-tweet-text {
  background: #10171e;
  width: 400px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid black;
  padding: 5px 10px;
  color: #8899a6;
  box-shadow: none;
  outline: none;
}

#content .twitr-container > .row > .col-md-7,
#content .twitr-container > .row > .col-md-4 {
  background: rgb(28, 41, 56);
}

#content {
  width: 100%;
  height: calc(100vh - 53px);
  background: #10171e;
}

.tweet-dialog-textarea-div {
  color:#9197a3;
  background:#182430;
  border:0;
  box-shadow:none;
  outline:0;
  border-bottom: 3px solid #1da1f2;
  resize: none;
}

#tweet-dialog-textarea {
  color:#9197a3;
  background:transparent;
  border:0;
  box-shadow:none;
  outline:0;
  resize: none;
}

.tweet-img-wrapper {
  width: 100%;
  overflow:hidden;
  padding: 10px;
  position: relative;
}

#tweet-img-delete {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
  background: rgba(0,0,0,0.7);
  border-radius: 50%;
  cursor: pointer;
  font-size: 25px;
  z-index:100;
  text-align: center;
  line-height: 30px;
  color: white;
  display: none;
}

#tweet-img-show {
  width: 100%;
  border-radius: 10px;
  display: none;
}

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}
